body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* set the height of the container to full viewport height */
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFFFF;
    padding-bottom: 20px;
background-image: url('background.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}